.contactGrid{
    background-color: white;
    min-width: 200px;
    min-height: 37vh;
    margin: 2%;
    border-radius: 10px;
}

.connectInfo{
    color: black;
}

.ContactRow{
    margin-top: 10%;
}

.contactIcon{
    padding: 1%;
    opacity: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 30%;
}

.connectButton{
    width: 90%;
    position: absolute;
    bottom: 0px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}