body {
    min-height: 100vh;
    background-image: url("../../assets/images/city-background-blur.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
   }

#headshotImage{
    max-width: 20%;
}

#headshotDiv{
    padding-left: 50px;
    max-width: 100%;
}

#info{
    float: left;
    max-width: 50%;
    padding-right:5%;
}

#mainDiv{
    margin-top: 10%;
    margin-left: 20%;
    height: 100%;
}

#contactButtons{
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.contactIcon{
    max-width: 10%;
    margin: 10px;
    opacity: 0.6;
}

.iconLink :hover{
    opacity: 1;
}

.iconLink{
    display: flex;
    justify-content: center;
    flex-direction: column;
}