body{
    height: 100%;
}

#ProjectRoot{
    padding-top: 2%;
}

.ProjectCard{
    padding: 2%;
    max-width: 50rem;
    max-height: 70rem;
}

.ProjectThumbnail{
    max-width: 50rem;
}

.ProjectTitle{
    color: black;
    font-size: 2rem;
    text-align: center;
}

.ButtonLogo{
    max-width: 3vh;
    margin-right: 10px;
}